# Obsidian config files
.obsidian/

# * * * Python stuff * * * 
__pycache__/
# virtual environment
.venv/
# CPython cache
*.pyc

# .env file containing your spotify API key
.env

# Weird cache file (probably from requests module)
.cache